$font-stack: 'Roboto', sans-serif
$primary-color: #466CBE

html
    scroll-behavior: smooth

body
    font: 100% $font-stack

.navbar-brand .navbar-item
    color: $primary-color
    font-size: 1rem
    font-weight: bold

.container
    margin-top: 1em

#intro
    .transition
        font-size: 2rem
        display: flex
        justify-content: center
        width: 100%
    

@media (min-width: 769px)
    

@media (min-width: 1024px)


@media (min-width: 1216px)
    
 
@media (min-width: 1408px)
