<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		
		{% block head %}
		<title>{% block title %}Onwebed{% endblock %}</title>
		
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />

		<link rel="stylesheet" href="{% static 'onwebed/dist/base.css' %}" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% endblock %}
	</head>
	<body>
		{% block body %}

		{% block main_menu %}
		<div class="columns">
			<div class="column is-full">
				<nav class="navbar is-link" role="navigation" aria-label="main navigation">
					<div class="container">
					    <div class="navbar-brand">
					        <a class="navbar-item" href="{% url 'pages:list' %}">
					            <b>Onwebed</b>
					        </a>

					        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
					            <span aria-hidden="true"></span>
					            <span aria-hidden="true"></span>
					            <span aria-hidden="true"></span>
					        </a>
					    </div>

					    <div class="navbar-menu" id="navbarBasicExample">
					        <div class="navbar-start">
					            <a class="navbar-item" href="{% url 'pages:list' %}">
					                Pages
					            </a>

                                <a class="navbar-item" href="{% url 'pages:settings' %}">
                                    Settings
                                </a>

					            <a class="navbar-item" href="/admin" target="_new">
					                Django Control Panel
					            </a>
					        </div>
					        <div class="navbar-end">
					        	<a class="navbar-item" href="{% url 'base_url' %}" target="_new">
					                View Site
					            </a>

					        	<span class="navbar-item">
					        		Logged in as&nbsp;<b>{{ user.username }}</b>
					        	</span>

					            {% if user.is_authenticated %}
					            <a class="navbar-item" href="{% url 'users:logout' %}">
					                Logout
					            </a>
					            {% endif %}
					        </div>
					    </div>
					</div>
				</nav>
				</div>
			</div>
		</div>
		{% endblock %}

		<div class="columns">
			<div class="column is-full">
				<div class='container column is-full'>
					<nav class="breadcrumb" aria-label="breadcrumbs">
					    <ul>
						    {% block breadcrumbs %}
						    {% endblock %}
					    </ul>
					</nav>

					<h1 class='title'>{% block heading %}{% endblock %}</h1>

					{% if messages %}
					{% for message in messages %}
					{% if message.tags == "error" %}
					<article class="message is-danger">
					    <div class="message-body">
					        {{ message }}
					    </div>
					</article>
					{% else %}
					<article class="message is-{{ message.tags }}">
					    <div class="message-body">
					        {{ message }}
					    </div>
					</article>
					{% endif %}
					{% endfor %}
					{% endif %}

				{% block content %}
					Hello World!
				{% endblock %}
				</div>
			</div>
		</div>

		{% block scripts %}
		<script type="text/javascript" src="{% static 'onwebed/dist/base.js' %}"></script>
		{% endblock %}

		{% endblock %}
	</body>
</html>