extends base.pug

block content
    div.container
        div#intro
            div.columns.is-multiline
                div.column.is-4-desktop.one.is-5-tablet
                    div.window
                        div.level
                            div.level-left
                                span.dot(style="background:#ED594A;")
                                span.dot(style="background:#FDD800;")
                                span.dot(style="background:#5AC05A;")

                        div.content
                            div.solid_box
                                span.label.
                                    html

                                div.solid_box
                                    span.label.
                                        head
                                    div.liquid_box
                                        span.label.
                                            title
                                        span.
                                            Hello!

                                div.liquid_box
                                    span.label.
                                        body p
                                    span.
                                        Welcome, my liege!

                div.column.transition.one.is-auto
                    i.fas.fa-arrow-down
                    i.fas.fa-arrow-right

                div.column.is-4-desktop.two.is-5-tablet
                    div.window
                        div.level
                            div.level-left
                                span.dot(style="background:#ED594A;")
                                span.dot(style="background:#FDD800;")
                                span.dot(style="background:#5AC05A;")

                        div.content
                            pre
                                code.html.
                                    &#x3C;html&#x3E;
                                        &#x3C;head&#x3E;
                                           &#x3C;title&#x3E;Hello!&#x3C;/title&#x3E;
                                        &#x3C;/head&#x3E;
                                        &#x3C;body&#x3E;
                                           &#x3C;p&#x3E;Welcome, my liege!&#x3C;/p&#x3E;
                                        &#x3C;/body&#x3E;
                                    &#x3C;/html&#x3E;

                div.column.transition.two.is-1-desktop.is-full-tablet.is-auto
                    i.fas.fa-arrow-down
                    i.fas.fa-arrow-right

                div.column.is-2-desktop.three.is-full-tablet
                    div.window
                        div.level
                            div.level-left
                                span.dot(style="background:#ED594A;")
                                span.dot(style="background:#FDD800;")
                                span.dot(style="background:#5AC05A;")

                                span(style="margin-left: 0.5em") Hello!
                        div.content.
                            Welcome, my liege!

        hr

        div.content#about
            h2.subtitle
                center
                    |A visual HTML editor, packed with powerful features to build dynamic sites.

        hr
        
        div#features
            div.columns
                div.column.is-4
                    div.card
                        div.card-content
                            div.content
                                h3
                                    i.fas.fa-eye
                                    | &nbsp;Code HTML Visually
                                div.
                                    A visual way to create HTML documents. HTML can get messy at times, Onwebed keeps it clean!

                div.column.is-4
                    div.card
                        div.card-content
                            div.content
                                h3
                                    i.fas.fa-burn
                                    | &nbsp;Create Dynamic Sites
                                div.
                                    Don't settle with static pages, it's powerful enough to create fully-featured dynamic sites, housing a markup language, Django's templating engine, and lots more!

                div.column.is-4
                    div.card
                        div.card-content
                            div.content
                                h3 
                                    i.fas.fa-vial
                                    | &nbsp;Simple
                                div.
                                    Onwebed document is composed of building blocks called boxes, making it consistent and easy to learn.

            div.columns
                div.column.is-4
                    div.card
                        div.card-content
                            div.content
                                h3
                                    i.fas.fa-bolt
                                    | &nbsp;Extensible
                                div.
                                    The concept of primitive building blocks - boxes - make it extremely easy to extend the features of Onwebed. Define your own boxes whenever you wish.

                div.column.is-4
                    div.card
                        div.card-content
                            div.content
                                h3
                                    i.fas.fa-boxes
                                    | &nbsp;Hybrid
                                div.
                                    Sometimes visual editing isn't efficient, that's when markup languages come into play, Onwebed lets you use both.

                div.column.is-4
                    div.card
                        div.card-content
                            div.content
                                h3
                                    i.fas.fa-robot
                                    | &nbsp;Least Redundant
                                div.
                                    Its simple, yet powerful templating system makes web development least redundant.

            div.columns
                div.column.is-4
                    div.card
                        div.card-content
                            div.content
                                h3
                                    i.fab.fa-angellist
                                    | &nbsp;Not WYSIWYG
                                div.
                                    Onwebed visualizes structure, not looks and feel.

                div.column.is-4
                    div.card
                        div.card-content
                            div.content
                                h3 
                                    i.fas.fa-battery-full
                                    |&nbsp;Powered by Django
                                div.
                                    It's built on top of Django and inherits all its features, letting you use Django's templating engine and more!

