extends base.pug

block content
    div.container
        div#intro
            div.columns
                div.column
                    div.window
                        div.level
                            div.level-left
                                span.dot(style="background:#ED594A;")
                                span.dot(style="background:#FDD800;")
                                span.dot(style="background:#5AC05A;")

                        div.content
                            h3.
                                Onwebed document
                            p.
                                How to create a detailed browser window look with CSS.

                div.column.transition
                    i.fas.fa-arrow-down

                div.column
                    div.window
                        div.level
                            div.level-left
                                span.dot(style="background:#ED594A;")
                                span.dot(style="background:#FDD800;")
                                span.dot(style="background:#5AC05A;")

                        div.content
                            h3.
                                HTML
                            p.
                                How to create a detailed browser window look with CSS.

                div.column.transition
                    i.fas.fa-arrow-down

                div.column
                    div.window
                        div.level
                            div.level-left
                                span.dot(style="background:#ED594A;")
                                span.dot(style="background:#FDD800;")
                                span.dot(style="background:#5AC05A;")

                        div.content
                            h3.
                                Result
                            p.
                                How to create a detailed browser window look with CSS.