<!DOCTYPE html>
<html>
	<head>
		{% block head %}
		<title>{% block title %}Onwebed{% endblock %}</title>
		
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
		{% endblock %}
	</head>
	<body>
		{% block content %}
			Hello World!
		{% endblock %}
	</body>
</html>