{% extends "onwebed/base.html" %}

{% block breadcrumbs %}
<li>
	<a href="{% url 'pages:list' %}">Pages</a>
</li>
<li class="is active">
	<a href="">Create</a>
</li>
{% endblock %}

{% block heading %}
Create New Page
{% endblock %}

{% block content %}
<form action='' method='POST'>
	{% csrf_token %}
	<div class="field">
	    <label class="label">Title</label>
	    <div class="control">
	        <input class="input" name="title" type="text" placeholder="Title">
	    </div>
	    <p class="help">Title of the page intended for the public, can contain any character. E.g. "How to prepare for Halloween."</p>
	</div>

	<div class="field">
	    <label class="label">Name</label>
	    <div class="control">
	        <input class="input" name="name" type="text" placeholder="Name">
	    </div>
	    <p class="help">Name of the page used for identification, must be unique, and can only contain limited set of characters. E.g. "how_to_prepare_for_halloween"</p>
	</div>

	<input type="submit" class="button is-success is-outlined" value="Create">
</form>
{% endblock %}