{% extends "onwebed/base.html" %}

{% block main_menu %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block head %}
{% load static %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'pages/css/edit.css' %}"/>
<script type="text/javascript" src="{% static 'pages/js/edit.js' %}"></script>
{% endblock %}

{% block body %}
<div class="content"></div>

<script>
	var app = Elm.Main.init({
        node: document.querySelector(".content"),
        flags: {
        	pageName: "{{ page.name }}",
        	pageTitle: "{{ page.title }}",
        	content: "{{ page.content|safe }}",
            csrfToken: "{{ csrf_token }}"
        }
    });

    app.ports.overlay.subscribe(function(enable) {
        if (enable == true)
            document.querySelector("html").classList.add("noscroll");
        else
            document.querySelector("html").classList.remove("noscroll");
    });

    app.ports.setupTextEditor.subscribe(function(value) {
        var editor = ace.edit("odl_editor");
        editor.session.setValue(value);
        // editor.setTheme("ace/theme/monokai");
        // editor.session.setMode("ace/mode/javascript");
        editor.on("change", function(e) {
            app.ports.setOdlStringInsideBox.send(editor.getValue());
        });
    });


</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.4/ace.js"></script>
<!-- <script type="text/javascript">
    function apply_editor() {
        var editor = ace.edit("odl_editor");
        // editor.setTheme("ace/theme/monokai");
        // editor.session.setMode("ace/mode/javascript");
    }
</script> -->
{% endblock %}