{% extends "onwebed/base.html" %}

{% block main_menu %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block head %}

    <!-- {% load static %} -->
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'pages/dist/edit.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400|Inconsolata:700&display=swap" rel="stylesheet">

{% endblock %}

{% block body %}

<div class="content"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.5/ace.js" integrity="sha256-5Xkhn3k/1rbXB+Q/DX/2RuAtaB4dRRyQvMs83prFjpM=" crossorigin="anonymous"></script>

<script type="text/javascript">
    var page_name = "{{ page.name }}";
    var page_title = "{{ page.title }}";
    var page_content = "{{ page.content|safe }}";
    var csrf_token = "{{ csrf_token }}";
</script>

<script type="text/javascript" src="{% static 'onwebed/dist/base.js' %}"></script>
<script type="text/javascript" src="{% static 'pages/dist/edit.js' %}"></script>

{% endblock %}