{% extends "onwebed/base.html" %}

{% block main_menu %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block head %}
{% load static %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'pages/css/edit.css' %}"/>
<script type="text/javascript" src="{% static 'pages/js/edit.js' %}"></script>
{% endblock %}

{% block body %}
<div class="content"></div>

<script>
	var app = Elm.Main.init({
        node: document.querySelector(".content"),
        flags: {
        	pageName: "{{ page.name }}",
        	pageTitle: "{{ page.title }}",
        	content: "{{ page.content|safe }}",
            csrfToken: "{{ csrf_token }}"
        }
    });

    app.ports.overlay.subscribe(function(e){
        if (e == true)
            document.querySelector("html").classList.add("noscroll");
        else
            document.querySelector("html").classList.remove("noscroll");
    });
</script>
{% endblock %}